/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
p {
  color: #555555;
  font-weight: 400;
  letter-spacing: 0em;
}
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 80px;
}
header > img {
  height: 50px;
  width: 40%;
}
.rating {
  display: flex;
  max-width: 210px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.rating > span {
  color: #24ab70;
  margin: 10px 5px;
}
.triangle-wrapper {
  position: absolute;
  top: -10%;
  left: -5%;
}
.triangle {
  position: relative;
  margin-left: -10%;
  background-color: #24ab70;
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  width: 70px;
  height: 60px;
}
.triangle span {
  position: absolute;
  color: white;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.stars {
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.stars > svg {
  width: 30px;
  height: 30px;
}
.hamburgur {
  display: flex;
  width: 2rem;
  height: 1.8rem;
  flex-direction: column;

  justify-content: space-between;
}
.hamburgur span {
  display: inline-block;
  line-height: 0;
  border-radius: 10px;
  height: 0;
  width: 100%;
  border-bottom: 3px solid #282828;
}
/* navbar */
nav {
  width: 70%;
  margin: 0 auto;
}
nav > ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
/* hero */
.hero {
  display: flex;
  position: relative;
  background: rgba(36, 171, 112, 0.04);
  border-radius: 50px 50px 0px 0px;
  margin: 40px 80px;
}
.hero > div {
  width: 50%;
}
.hero-image img {
  border-top-right-radius: 50px;
  width: 100%;
  height: 100%;
}
.hero-content {
  padding: 60px 60px 100px;
}
.hero-content p {
  font-size: 14px;
  text-align: justify;
  margin-top: 20px;
}
.filter-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100% !important;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.08);
  border-radius: 280px;
  margin: 0 auto;

  width: 80%;
}
.filter {
  display: flex;
  width: 75%;
  justify-content: space-between;
  padding: 10px 0 10px 44px;
}

.filter-elmt img {
  width: 15px;
  height: 18px;
}
.filter-elmt > div {
  display: flex;
  gap: 8px;

  align-items: center;
}
.filter hr {
  width: 2px;
  background-color: #e8e8e8;
}
.filter-elmt span {
  color: #555555;
  font-size: 14px;
}
.search {
  background-color: #24ab70;
  color: white;
  border-radius: 280px;
  width: 23%;
  text-align: center;
}
.search div {
  display: flex;
  position: relative;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  gap: 8px;
  align-items: center;
  margin: auto;
}
.Popular-rooms {
  margin: 120px 80px 40px;
}
.room-cards {
  display: flex;
  justify-content: space-between;
}
.room-card {
  background: #fafafa;
  border-radius: 16px;
  width: 270px;
}
.room-card img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}
.room-rating svg {
  width: 15px;
  height: 15px;
}
.room-rating {
  display: flex;
  align-items: center;
  gap: 3px;
}
.room-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.room-header button {
  background: #24ab701a;
  border-radius: 280px;
  padding: 6px 20px;
  font-size: 14px;
  color: #24ab70;
  font-weight: 400;
  line-height: 28px;
}
.card-content {
  padding: 20px 16px;
}

.card-content span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.card-content > span {
  color: #24ab70;
}
.room-card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.facilities {
  display: flex;
  justify-content: space-between;
  margin: 120px 80px;
}
.facility-content {
  margin-top: 24px;
  width: 30%;
}

.facility-content p {
  margin: 20px 0 30px;
  text-align: justify;
}
.facility-content button {
  background: #24ab70;
  border-radius: 35px;
  color: white;
  padding: 12px 22px;
}
.facility-card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 40px 27px;
  gap: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 120px;
  height: 120px;
  margin-top: 24px;
}
.facility-card span {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #222222;
}
.facility-card img {
  width: 40px;
  height: 40px;
}
.facility-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
}
.history {
  background: #f4fbf8;
  border-radius: 16px;
  margin: 0 80px;
  display: flex;
}
.history img {
  border-radius: 16px 0px 0px 16px;
  width: 50%;
}
.history-content {
  padding: 40px 30px;
  width: 50%;
}
.history-content p {
  margin: 20px 0 30px;
  text-align: justify;
}
.history-content button {
  background: #24ab70;
  border-radius: 35px;
  color: white;
  padding: 12px 22px;
}
